<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
    <link rel="icon" href="data:,">
</head>
<body>
<h3>Add Car Model</h3>

<form id="/admin/car/add" name="/admin/car/add" method="post"
      th:action=@{/admin/car/add} enctype="multipart/form-data">
    <h4>Type Manufacturer</h4>
    <input type="text" name="manufacturer"/>
    <h4>Type Car Model</h4>
    <input type="text" name="carModel"/>
    <h4>Type Body Type</h4>
    <input type="text" name="bodyType"/>
    <h4>Type Year Of Issue</h4>
    <input type="text" name="yearOfIssue"/>
    <h4>Type Car Description</h4>
    <input type="text" name="carDescription"/>
    <h4>Type Car Price</h4>
    <input type="text" name="price"/>
    <h4>Add Images </h4>
    <input type="file" name="images" multiple required />
    <button type="submit">Add</button>

</form>
<h3>Delete Car</h3>
<form id ="/admin/car/delete" name="/admin/car/delete" method="post"
      th:action=@{/admin/car/delete}>
    <input type="text" name="id"/>
    <button type="submit">Submit</button>
</form>


<!--<div>-->
<!--    <label>Choose manufacturer</label>-->
<!--    <div>-->
<!--        <select th:field="*{Manufacturers}">-->
<!--<th:block th:each="man:${Manufacturers}">-->
<!--    <option th:text="${man.manufacturerName}"></option>-->
<!--</th:block>-->
<!--        </select>-->
<!--    </div>-->

<!--</div>-->

<!--<h3>Upload Multiple Files</h3>-->
<!--<form id="uploadImages" name="uploadImages" method="post"-->
<!--      th:action=@{/admin/add/image} enctype="multipart/form-data">-->
<!--    <input type="file" name="images" multiple required />-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->

<div>
    <h3>List of Cars</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Manufacturer</th>
            <th>Car model</th>
            <th>Body Type</th>
            <th>Year of Issue</th>
            <th>Car Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car:${Cars}">
            <td th:text="${car.id}"/>
            <td th:text="${car.getManufacturer().getManufacturerName()}"/>
            <td th:text="${car.getCarModel().getCarModelName()}"/>
            <td th:text="${car.getBodyType().getBodyTypeName()}"/>
            <td th:text="${car.yearOfIssue}"/>
            <td th:text="${car.carDescription}"/>
            <td th:text="${car.price}"/>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>