<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Window</title>
</head>
<body>


<div>
    <h3>List of Cars</h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Manufacturer</th>
            <th>Car model</th>
            <th>Body Type</th>
            <th>Year of Issue</th>
            <th>Car Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody th:each="image:${Images}">
        <tr th:each="car:${Cars}" >
            <td th:text="${car.id}"/>
            <td th:text="${car.getManufacturer().getManufacturerName()}"/>
            <td th:text="${car.getCarModel().getCarModelName()}"/>
            <td th:text="${car.getBodyType().getBodyTypeName()}"/>
            <td th:text="${car.yearOfIssue}"/>
            <td th:text="${car.carDescription}"/>
            <td th:text="${car.price}"/>
            <td th:if="${car.id == image.car.id}"><img th:src="${image.imagePath}" height="250"   /></td>


        </tr>
        </tbody>
    </table>
</div>


</body>
</html>