<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Window</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>


<div>
    <h3>List of Cars</h3>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>Manufacturer</th>
            <th>Car model</th>
            <th>Body Type</th>
            <th>Year of Issue</th>
            <th>Car Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car:${Cars}">
            <td th:text="${car.id}"/>
            <td th:text="${car.getManufacturer().getManufacturerName()}"/>
            <td th:text="${car.getCarModel().getCarModelName()}"/>
            <td th:text="${car.getBodyType().getBodyTypeName()}"/>
            <td th:text="${car.yearOfIssue}"/>
            <td th:text="${car.carDescription}"/>
            <td th:text="${car.price}"/>
            <td th:each="image:${Images}"
                th:if="${car.id == image.getCar().id}">
                <a th:href=" '/'+${car.id}"><img th:src="${image.imagePath}" height="150"/>
                </a>
            </td>


        </tr>

        </tbody>
    </table>
</div>


</body>
</html>